// src/scss/main.scss

@import 'utils/variables';
@import 'utils/mixins';

@import 'base/resets';
@import 'base/base';

@import 'blocks/header';
@import 'blocks/intro';
@import 'blocks/projects';
@import 'blocks/footer';
// @import 'blocks/any_block_partial'; // optional

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}